<!DOCTYPE html>
<html>
<head>
    <title>PDF Template</title>
</head>
<body>
    <h1>Données du formulaire :</h1>
    <p>Nom: {{ formData['Nom'] }}</p>
    <p>Numéro: {{ formData['Numéro'] }}</p>
    <p>Email: {{ formData['Email'] }}</p>
    <!-- Autres données du formulaire si nécessaire -->
</body>
</html>
